* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: #eeeeee;
  /* background-image: linear-gradient(120deg, #eeeeee 0%, #e9e9e9b3 100%); */
  color: black;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.flex {
  display: flex;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

header {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 2%;
  color: #818181;
  text-transform: uppercase;
}

header,
.combobox {
  display: flex;
  justify-content: start;
  padding-left: 5%;
  padding-top: 2%;
}

.combobox input {
  height: 32px;
  width: 596px;
  padding: 5px;
  font-size: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 7px;
  /* box-shadow: 0px 0px 20px 7px  rgba(128, 128, 128, 0.2); */
}

.optionsInput:hover {
  background-color: #ec818182;
  transition: 1s;
}

.optionsInput:focus {
  border: none;
  outline: none;
}

.optionsInput:focus+.searchIcon {
  display: none;
}

div #optionsList {
  padding: 20px;
  width: 20rem;
}

.quick-tips {
  display: table;
  width: 46%;
  margin-top: 3%;
  /* height: 410px; */
  margin-left: 5%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 19px 19px 19px 0;
}

.tipsHeader {
  font-size: 15px;
  font-weight: bold;
  color: #818181;
  text-transform: uppercase;
  padding-left: 20px;
  padding-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  padding-left: 3%;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  width: 200px;
  height: 100px;
  color: black;
  border-radius: 10px;
  cursor: pointer;
  border: rgba(182, 180, 180, 0.575) 1px solid;
  /* box-shadow: 3px 3px 50px rgba(128, 128, 128, 0.2); */
}

.grid-item:hover {
  background-color: #ec818182;
  transition: 1s;
}

.tipsIcons {
  margin-top: 7px;
}

.tipsIconLeft {
  margin-left: 5%;
  font-size: 18px;
}

.tipsIconRight {
  margin-left: 70%;
  font-size: 24px;
}

.tipsIconRightModal{
  margin-left: 83%;
  font-size: 24px;
}

.tipsTitle {
  font-size: 15px;
  margin-left: 5%;
  margin-top: 5px;
  font-weight: bold;
}

.tipsSubtitle {
  margin-left: 5%;
  margin-top: 5px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #818181;
}
.tipsExplanations{
  width: 70%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;
  font-size: 15px;
  color: #818181;
}

.imageIcons {
  color: rgb(57, 142, 253);
}

.listIcons {
  color: rgb(143, 229, 172);
}

.notificationIcons {
  color: #e8b445bc;
}

.lightningIcon {
  color: rgb(255, 199, 68);
}

.checkIcon {
  color: #ec8181;
  margin-left: 2px;
}

.note-panel {
  overflow: hidden;
  width: 90%;
  height: 389px;
  margin-top: 3%;
  margin-left: 5%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  /* box-shadow: 0px 0px 20px 7px  rgba(128, 128, 128, 0.2); */
}

.note-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
  justify-content: start;
  gap: 20px;
  padding: 20px;
}

.note-item {
  position: relative;
  background-color: white;
  font-size: 15px;
  padding: 10px;
  width: 145px;
  height: 250px;
  color: black;
  border-radius: 10px;
  border: rgba(182, 180, 180, 0.575) 1px solid;
  overflow: hidden;
  cursor: pointer;
  /* box-shadow: 3px 3px 50px rgba(128, 128, 128, 0.2); */
}

.note-item:hover {
  background-color: #ec818182;
  transition: 1s;
}

.note-content {
  overflow: hidden;
  height: 175px;
  font-size: 10px;
  margin-top: 10px;
}

.list-content{
font-size: 10px;
margin-top: 5px;
}

.note-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-date {
  position: absolute;
  bottom: 0;
  font-size: 10px;
  color: gray;
  font-style: italic;
}

p.title-panel {
  padding-left: 20px;
  padding-top: 20px;
  font-weight: bold;
  font-size: 15px;
  color: #818181;
  text-transform: uppercase;
}

.fixed-button {
  position: fixed;
  display: inline-block;
  bottom: 30%;
  right: 21%;
}

.add-button {
  color: white;
  width: 180px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #ec8181;
  box-shadow: 0px 0px 40px 7px rgba(128, 128, 128, 0.471);
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
  font-weight: bold;
}

.add-button:hover{
  background-color: #818181b6;
  color: black;
}

.label-button {
  margin-left: 5px;
  font-size: 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d3d3d3b6;
  min-width: 170px;
  overflow: auto;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 40px;
  left: 5px;
  border-radius: 20px;
}

.dropdown-content a {
  color: #8d8d8d;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  font-size: 15px;
}

.fixed-button a:hover {
  background-color: rgba(255, 255, 255, 0.388);
  color: black;
}

.show {
  display: block;
}

/* The sidebar menu */
.sidebar {
  height: 100%;
  /* 100% Full-height */
  width: 50px;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #ec8181;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  top: 0;
  margin-left: 50px;
  font-size: 25px;
}

.sidebarTitle {
  display: none;
  margin-left: 8px;
}

#closebtn {
  display: none;
  margin-left: 200px;
}

/* The button used to open the sidebar */
#openbtn {
  font-size: 25px;
  cursor: pointer;
  margin-left: 2px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  margin-left: 50px;
  transition: margin-left .5s;
  /* If you want a transition effect */
}

.sidebarButtons {
  justify-content: space-around;
  margin-right: 10px;
  margin-bottom: 10px;
}

.sidebarIcons {
  font-size: 25px !important;
}

#houseIcon{
  font-size: 22px!important;
}

.tabIcons {
  font-size: 16px !important;
  margin-right: 2px;
}

.searchIcon {
  position: absolute;
  margin-left: 10px;
  margin-top: 4px;
  color: #818181b6;
}

.deleteIcon,
.editIcon {
  position: absolute;
  font-size: 15px;
}

.editIconTitle{
  position: absolute;
  font-size: 11px;
  margin-left: 83px;
  margin-top: 7px;
}

.deleteIcon {
  margin-left: 115px;
  color: #8a8a8ad2;
}

.editIcon {
  margin-left: 95px;
  color: #969696d2;
}

.editIcon:hover{
  color: #8a8a8a50;
}

.deleteIcon:hover{
  color: #8a8a8a50;
}

#deleteIcon {
  display: none;
}

#main:hover #mySidebar {
  width: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

.tab {
  overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ec818182;
  border-radius: 10px;
}

/* Create an active/current tablink class */
.tab button.active {
  border-bottom: #ec8181 2px solid;
  color: #ec8181;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 0px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

/* Modal Content */
.modal-content {
  background-color: #ec8181;
  margin: auto;
  padding: 20px;
  border: none;
  width: 30%;
  height: 60%;
  border-radius: 10px;
  color: #525252;
  box-shadow: 8px 12px 15px -3px rgb(39 39 39 / 47%);
}

.tipsModal{
  background-color: #eeeeee;
  margin: auto;
  padding: 20px;
  border: none;
  width: 40%;
  height: 60%;
  border-radius: 10px;
  color: #000000;
  box-shadow: 8px 12px 15px -3px rgb(39 39 39 / 47%);
}

.imgModal{
  background-color: #eeeeee;
  margin: auto;
  padding: 20px;
  border: none;
  width: 50%;
  height: 85%;
  border-radius: 10px;
  color: #000000;
  box-shadow: 8px 12px 15px -3px rgb(39 39 39 / 47%);
}

.searchModal{
  background-color: #eeeeee;
  margin: auto;
  padding: 20px;
  border: none;
  width: 50%;
  max-width: 75%;
  height: fit-content;
  border-radius: 10px;
  color: #000000;
  box-shadow: 8px 12px 15px -3px rgb(39 39 39 / 47%);
}

.imageDim{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.tipsModalTitle{
  color: #000000;
}

.imgTips{
  border-radius: 7px!important;
  height:100px;
}

.modal-header{
  display: flex;
  justify-content: space-between;
}

.iconHeart{
  margin-right: 5px;
}

#favSelected, #impSelected, #favSelected1, #impSelected1, #favSelectedEdit, #favUnselectedEdit, #impSelectedEdit, #impUnselectedEdit{
  display: none;
}

.selectIcon{
  font-size: 18px!important;
}


/* The Close Button */
.closeModal {
  color: #818181;
  font-weight: bold;
  font-size: 52px;
  right: 10%;
  top: 3%;
  position: fixed;
}

.closeModal:hover,
.closeModal:focus{
  color: #ec818182;
  text-decoration: none;
  cursor: pointer;
}

.formTitle {
  text-transform: uppercase;
  color: #f7f5f582;
}

/* Form */
.inputForm {
  border: none;
  width: 93%;
  height: 35px;
  border-radius: 10px;
  background-color: #ec8181;
  color: #525252;
  text-decoration: none;
  margin-left: 3px;
}

.inputNote textarea:focus,
input:focus {
  outline: none;
}

.inputNote input::placeholder,
textarea::placeholder {
  color: #525252;
}

#noteContent,
#editContent {
  height: 240px;
  resize: none
}

.inputNote {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  margin-top: 5%;
}

.note-form {
  height: 100%;
}

.addNewNoteForm {
  position: relative;
  height: 90%;
}

#submit{
  padding: 10px;
  width: 210px;
  border-radius: 17px;
  border: none;
  background-color: #8181816d;
  color: #dadada82;
  position: absolute;
  cursor: pointer;
}

#submit {
  bottom: 0px;
  margin-left: 25%;
}

#submit:hover{
  background: #8181814f;
  color: rgba(245, 245, 245, 0.823);
}

.inputNote :hover::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #f7f5f582;
}

:hover::-moz-placeholder {
  /* Firefox 19+ */
  color: #cdcdcd97;
}

:hover:-ms-input-placeholder {
  /* IE 10+ */
  color: #cdcdcd97;
}

:hover:-moz-placeholder {
  /* Firefox 18- */
  color: #cdcdcd97;
}

.formImage{
  margin-top: 30px;
}

.formImage label{
  font-size: 15px;
}

.inputForm::before{
  border: none;
  width: 80%;
  height: 35px;
  border-radius: 10px;
  background-color: #ec8181;
  color: #525252;
  text-decoration: none;
}

.addListItem{
  display: flex;
  cursor: pointer;
  font-size: 13px;
}

.checkboxList{
  width: 15px;
  accent-color: gray;
}

.checkboxListView{
  width: 9px;
  margin-right: 3px;
}

.removeItemList{
  margin-top: 10px;
}

.modalBtn{
  width: 40%;
  height: 30px;
  text-align: center;
  border-radius: 17px;
  border: none;
  background-color: #8181816d;
  color: #dadada82;
  cursor: pointer;
}

.modalBtn:hover{
  background: #8181814f;
  color: rgba(245, 245, 245, 0.823);
}

/* #addNewListForm{
  overflow: auto;
  overflow-x: hidden;
} */

.inputListEdit{
  background-color: #ec8181;
  border: none;
}

#errorMessage{
  color: red;
  display: none;
  font-size: 15px;
}

#searchBtn{
  margin-left: 3px;
  color: white;
  width: 80px;
  height: 32px;
  border-radius: 8px;
  border: none;
  background-color: #ec8181;
  cursor: pointer;
  justify-content: start;
  align-items: center;
  font-weight: bold;
}